<html>
<head>
  <title>My first Vue app</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
  <main id="app">
    <section id="room">
      Room Info
      <input type="text" v-model="roomID" placeholder="room id"/>
      <button v-on:click.prevent="logIt"> Log it </button>
    </section>

    <section v-for="score in taskScores">
      Cool score: {{ score }}
    </section>
  </main>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" type="application/javascript"></script>
  <script src="/script.js" type="application/javascript"></script>
</body>
</html>
